{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 id="page-title"></h1>
    <div id="new-post">
               
        <form class="mb-3" id="new-post-form" style="width: 95vw; margin:auto;">
            {% csrf_token %}
            <label class="form-label" for="new-post-content">New Post</label>
            <textarea class="form-control" id="new-post-content" class="form-control m-1"></textarea>
            {% if request.user.is_authenticated %} 
                <input id="new-post-submit" type="submit" class="btn btn-primary" value="Post" />
            {% else %}
            <input id="new-post-submit" type="submit" class="btn btn-primary disabled" value="Post" disabled/>
            {% endif %}
        </form>
        
    </div>
    <div class="card text-center" id="profile-container" style="display: none; width: 95vw; margin: auto;">
        <div class="card-header">
            <img class="card-img"id="profile-image" src="" style="width: 100px; margin: auto;"/>
            <p class="card-title" id="profile-name"></p>
        </div>
        <div class="row align-items-center">
            <div class="col">Total posts: <span id="profile-total-posts"></span></div>
            <div class="col">Since: <span id="profile-date"></span></div>
            <div class="col">Total followers: <span id="profile-followers"></span></div>
            <div class="col" id="profile-follow-panel"></div>
        </div>
    </div>
    <div class="card-body" id="posts-main-container" style="width: 95vw; margin: auto;">
        <nav>
            <ul class="pagination">
                <li id="navigate-page-previous-button">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item disabled">
                    <span id="navigate-page-number" class="page-link">Page 1 of 1</span>
                </li>
                <li id="navigate-page-next-button">
                    <span class="page-link" >Next</span>
                </li>
            </ul>
        </nav>
        <div id="posts-container"></div>
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'network/main.js' %}"></script>
{% endblock %}