{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 id="page-title"></h1>
    <div id="new-post">
               
        <form id="new-post-form">
            {% csrf_token %}
            <label for="new-post-content">New Post</label>
            <textarea id="new-post-content" class="form-control m-1"></textarea>
            {% if request.user.is_authenticated %} 
                <input id="new-post-submit" type="submit" class="btn btn-primary" value="Post" />
            {% else %}
            <input id="new-post-submit" type="submit" class="btn btn-primary" value="Post" disabled/>
            {% endif %}
        </form>
        
    </div>
    <div id="profile-container" style="display: none;">
        <img id="profile-image" src="" />
        <p id="profile-name"></p>
        <div>
            <div>Total posts: <span id="profile-total-posts"></span></div>
            <div>Since: <span id="profile-date"></span></div>
            <div>
                <p>Total followers: <span id="profile-followers"></span></p>
            </div>
            <div id="profile-follow-panel"></div>
        </div>
    </div>
    <div id="posts-main-container">
        <nav>
            <ul class="pagination">
                <li id="navigate-page-previous-button">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item disabled">
                    <span id="navigate-page-number" class="page-link">Page 1 of 1</span>
                </li>
                <li id="navigate-page-next-button">
                    <span class="page-link" >Next</span>
                </li>
            </ul>
        </nav>
        <div id="posts-container"></div>
    </div>
    <!--
    {% for post in posts %}
        <div>
            <img src="{{ post.user.img_profile }}">
            <div>
                <a href="{% url 'profile_page' post.user.username %}"><h5 id="{{ post.user.username }}">{{ post.user.username }}</h5></a>
                <p>{{ post.content }}</p>
            </div>
            <div>
                <p>{{ post.timestamp }}</p>
                <p><button id="heart-icon-{{ post.id }}">&#10084;</button>{{ post.like }}</p>
            </div>
        </div>
    {% endfor %}
-->
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'network/main.js' %}"></script>
{% endblock %}